[Unit]
Description=Timer for Staggered Repo Parity Database Update

[Timer]
OnCalendar=daily
RandomizedDelaySec=4h
Persistent=true

[Install]
WantedBy=timers.target
