apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.37.0 (HEAD)
    nixos.quick-deploy.ai-stack: "true"
    nixos.quick-deploy.service: autogpt
  labels:
    io.kompose.service: autogpt
  name: autogpt
spec:
  ports:
    - name: "8097"
      port: 8097
      targetPort: 8097
  selector:
    io.kompose.service: autogpt
