apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.37.0 (HEAD)
    nixos.quick-deploy.ai-stack: "true"
    nixos.quick-deploy.service: autogpt
  labels:
    io.kompose.service: autogpt
  name: autogpt
spec:
  replicas: 0
  selector:
    matchLabels:
      io.kompose.service: autogpt
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.version: 1.37.0 (HEAD)
        nixos.quick-deploy.ai-stack: "true"
        nixos.quick-deploy.service: autogpt
      labels:
        io.kompose.service: autogpt
    spec:
      serviceAccountName: autogpt
      automountServiceAccountToken: false
      containers:
        - env:
            - name: AUTOGPT_MODEL
              value: qwen2.5-coder-7b-instruct
            - name: AUTOGPT_PORT
              value: "8097"
            - name: EXECUTE_LOCAL_COMMANDS
              value: "true"
            - name: MEMORY_BACKEND
              value: redis
            - name: OPENAI_API_BASE
              value: http://llama-cpp:8080/v1
            - name: OPENAI_API_KEY
              value: sk-000000000000000000000000000000000000000000000000
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
            - name: WORKSPACE_PATH
              value: /workspace
          image: docker.io/significantgravitas/auto-gpt@sha256:6abda195ed28cc223138002ef457ffa407f510bc1da7d750583697ae4bf5b39f
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          name: local-ai-autogpt
          ports:
            - containerPort: 8097
              protocol: TCP
          resources:
            limits:
              cpu: "2"
              memory: "4294967296"
            requests:
              cpu: 500m
              memory: "1073741824"
          volumeMounts:
            - mountPath: /run/secrets/redis-password
              name: redis-password
              subPath: redis-password
            - mountPath: /data
              name: autogpt-claim0
            - mountPath: /workspace
              name: autogpt-cm1
          workingDir: /app
      restartPolicy: Always
      volumes:
        - name: redis-password
          secret:
            items:
              - key: redis-password
                path: redis-password
            secretName: redis-password
        - name: autogpt-claim0
          persistentVolumeClaim:
            claimName: autogpt-claim0
        - configMap:
            name: autogpt-cm1
          name: autogpt-cm1
