apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.37.0 (HEAD)
    nixos.quick-deploy.ai-stack: "true"
    nixos.quick-deploy.embedding-dimensions: "384"
    nixos.quick-deploy.service: embeddings
  labels:
    io.kompose.service: embeddings
  name: embeddings
spec:
  ports:
    - name: http
      port: 8081
      targetPort: 8081
    - name: metrics
      port: 8081
      targetPort: 8081
  selector:
    io.kompose.service: embeddings
