apiVersion: v1
kind: Service
metadata:
  name: grafana-nodeport
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    io.kompose.service: grafana
  ports:
    - name: grafana
      port: 3002
      targetPort: 3000
      nodePort: 30300
