apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.37.0 (HEAD)
    nixos.quick-deploy.ai-stack: "true"
    nixos.quick-deploy.service: grafana
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: grafana
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.version: 1.37.0 (HEAD)
        nixos.quick-deploy.ai-stack: "true"
        nixos.quick-deploy.service: grafana
      labels:
        io.kompose.service: grafana
    spec:
      serviceAccountName: grafana
      automountServiceAccountToken: false
      containers:
        - env:
            - name: GF_AUTH_DISABLE_LOGIN_FORM
              value: "false"
            - name: GF_SECURITY_ADMIN_PASSWORD__FILE
              value: /run/secrets/grafana-admin-password
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_USERS_ALLOW_SIGN_UP
              value: "false"
          envFrom:
            - configMapRef:
                name: env
            - secretRef:
                name: huggingface-hub-token
          image: grafana/grafana:11.2.0
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          name: local-ai-grafana
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: 1Gi
          volumeMounts:
            - mountPath: /run/secrets/grafana-admin-password
              name: grafana-admin-password
              subPath: grafana-admin-password
      restartPolicy: Always
      volumes:
        - name: grafana-admin-password
          secret:
            defaultMode: 292
            items:
              - key: grafana-admin-password
                path: grafana-admin-password
            secretName: grafana-admin-password
