apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.37.0 (HEAD)
    nixos.quick-deploy.ai-stack: "true"
    nixos.quick-deploy.service: llama_cpp
    nixos.quick-deploy.vulkan-enabled: "true"
  labels:
    io.kompose.service: llama-cpp
  name: llama-cpp
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    io.kompose.service: llama-cpp
