apiVersion: v1
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    # Alert rules
    rule_files:
      - "alerts/*.yml"

    scrape_configs:
      - job_name: "ai-stack"
        metrics_path: /metrics
        static_configs:
          - targets:
              - aidb:8091
              - embeddings:8081
              - hybrid-coordinator:8092
              - nixos-docs:8094
              - ralph-wiggum:8098
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: prometheus
  name: prometheus-cm0
