apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qdrant-data
  labels:
    io.kompose.service: qdrant-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
